body {
  background: repeating-conic-gradient(
    from 3deg at 20% 15%,
    hsla(133, 74%, 71%, 0.45) 0deg 15deg,
    hsla(300, 5%, 45%, 0.75) 10deg 30deg);
}
.jumbotron {
  background-color: #fdffb4;
  margin-top: 2rem;
}
.jumbotron h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
}
.jumbotron p {
  padding: 12px;
  opacity: 0.8;
  margin-top: 2rem;
}
.card-text {
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
}
img {
  margin: 20px;
  margin-right: 30px;
  margin-bottom: 5%;
  max-width: 450px;
  float: left;
  border-radius: 30%;
}
h3 {
  clear: both;
  margin-top: 2em;
}
h2, h3 {
  font-family: 'Taviraj', serif;
}
#contact {
  text-decoration: none;
  font-family: 'Taviraj', serif;
  color: black;
  clear: top;
}
a:hover {
  background-color: yellow;
}
.blockquote-footer {
  color: #593e4d;
  margin-bottom: 10%;
}
.bg-success, .bg-info {
  opacity: 0.8;
}
.bg-info {
  color: black;
  background-blend-mode: color-dodge;
}
.card {
  clear: top;
  border-width: 0;
  box-sizing: border-box;
  background-color:hsla(133, 74%, 71%, 0.45)
}